@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

.main {
  width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #381f55;
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(to bottom right, #30194a, #1a0334) !important; */
  /* background: linear-gradient(to top, rgb(78, 0, 130), rgb(0, 0, 0)) !important; */
  background: black;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/purple_background.jpg") center/cover no-repeat;
  /* filter: hue-rotate(-10deg); */
  transform: rotateX(180deg);
  /* clip-path: polygon(70% 0%, 0% 100%, 100% 80%); */
  clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hero_content {
  /* background-color: red; */
  z-index: 100;
  padding: 0;
  margin: 0;
}

.page_start_spacer {
  margin-top: 130px;
}

.header_content {
  flex-direction: column;
}

.leaderboard {
  flex-direction: column;
  margin-top: 25px !important;
  background-color: #48286c;
  height: 500px;
  border-radius: 15px;
}

.leaderboard_header {
  width: 1200px;
  height: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-left: 75px;
  background-color: #593c7a;
  display: flex;
  gap: 15px;
  align-items: center;
  flex-direction: row;
}

.model_text {
  width: 350px !important;
  text-align: left !important;
}

.benchmark_content .model_text {
  width: 350px !important;
}

.lb_header_text {
  font-size: 16px;
  font-weight: 600;
  width: 175px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.benchmark_content {
  width: 1200px;
  height: 60px;
  padding-left: 30px;
  /* background-color: #77579c; */
  display: flex;
  gap: 15px;
  align-items: center;
  flex-direction: row;
}

.benchmark_content img {
  width: 30px;
}

.benchmark_text {
  font-size: 16px;
  font-weight: 600;
  width: 175px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.lb_header_text:nth-child(even) {
  background-color: #321653;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-inter);
}

.page_title {
  font-size: 100px;
  /* padding: 50px; */
  transform: rotate(36deg);
  padding-bottom: 60px;
  padding-left: 200px;
  color: white;
  z-index: 100;
}

h1 {
  font-size: 50px;
  color: white;
}

h2 {
  font-size: 35px;
  color: white;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  color: #c5c5c5;
}

h4 {
  font-size: 25px;
  color: white;
}

p {
  font-size: 18px;
  color: white;
}

.content_box {
  width: 1200px;
  display: flex;
  margin: 0;
  padding: 0;
  /* flex-direction: row; */
  /* background-color: blue; */
}

.purple_wrapper {
  background-color: #4e326e;
  padding: 12px 24px;
  border-radius: 15px;
}

@media only screen and (max-width: 1280px) {
  .content_box {
    width: 960px;
  }
  .page_title {
    font-size: 75px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 17px;
  }
  h4 {
    font-size: 23px;
  }
  p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .content_box {
    width: 660px;
  }
  .page_title {
    font-size: 60px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 720px) {
  .content_box {
    flex-direction: column;
    width: 80vw;
  }

  .page_title {
    font-size: 75px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 25px;
  }

  p {
    font-size: 18px;
  }
}
