.navbar {
  /* background-color: #000000; */
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
}

.navbarContainer {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo img {
  display: block;
  width: auto;
  height: 70px;
  filter: invert(1);
}

.logo img:hover {
  filter: invert(0.9);
}

.navLinks {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex: 1;
  text-align: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0px;
  width: 500px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: rgb(207, 207, 207);
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  font-family: "Inter", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: 0.1s;
  min-width: 130px;
}

.link:hover {
  /* color: rgb(208, 208, 208); */
  filter: brightness(1.05);
  background-color: rgb(179, 179, 179);
  color: black;
}

.active {
  /* color: rgb(208, 208, 208); */
  /* background-color: #593c7a; */
  background-color: rgb(235, 233, 233) !important;
  color: black;
}

@media only screen and (max-width: 1280px) {
  .navLinks {
    gap: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .navLinks {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .buttons {
    display: none;
  }
}
